<div class="container">
  <h2>Items</h2>
  <a id="add-item-btn" routerLink="/items/new" class="btn btn-primary mb-3">Add New Item</a>
  
  <div id="items-list" class="row">
    <div class="col-md-4" *ngFor="let item of items; let i = index">
      <div [attr.id]="'item-card-' + i" class="card mb-3">
        <div class="card-body">
          <h5 [attr.id]="'item-name-' + i" class="card-title">{{item.name}}</h5>
          <p [attr.id]="'item-description-' + i" class="card-text">{{item.description}}</p>
          <a [routerLink]="['/items', item.id]" [attr.id]="'view-item-' + i" class="btn btn-info me-2">View</a>
          <button (click)="deleteItem(item.id!)" [attr.id]="'delete-item-' + i" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div> 